---
import Page from '../components/Page.astro';
---

<Page>
  <main class="max-w-[50ch] mx-auto space-y-4 my-4">
    <h1 class="text-4xl font-bold">Un-brick it!</h1>
    <p>here's something to do with your old phone!</p>
    <a href="/app" class="text-blue-500 underline block text-center">Start the App</a>
    <a href="/clock" class="text-blue-500 underline block text-center">Start the old App</a>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae consectetur eveniet sunt nostrum repudiandae
      voluptates nihil, distinctio molestiae, illo recusandae in quasi maiores aliquid natus blanditiis expedita at.
      Aspernatur, nisi.
    </p>
  </main>
</Page>
